{% extends 'human_blog/base.html' %}
{% load static %}

{% block title %}
  <title>Despre mine</title>
{% endblock %}
    

{% block content %}
	    
<article class="about-section py-5">
    <div class="container">
      <h2 class="title mb-3">Despre mine</h2>

      <p>Salut, sunt Andrei C. Cojocaru, si imi place sa ma autodezvolt in lumea fascinanta a programarii. Sunt ceea ce se numeste un "self-taught programmer," ceea ce inseamna ca am ales sa invat programare pe cont propriu, fara a urma un traseu de invatamant traditional.</p>
      <br>
      <p>Calatoria mea in programare a inceput cu Python si Linux. Aceste doua tehnologii au fost cele care m-au captivat si m-au inspirat sa explorez lumea programarii. Python, cu sintaxa sa prietenoasa si versatilitatea sa, a devenit limbajul meu preferat, iar Linux mi-a deschis usile in lumea sistemelor de operare open-source si dezvoltarii software.</p>
     <figure><img class="img-fluid" src={% static 'human_blog/assets/images/cowboy-lover.jpg' %} alt="image"></figure>
     <h5 class="mt-5">Detalii despre blog</h5>
        <p>Ce puteti astepta de la acest blog? Ei bine, in primul rand, articole informative si inspirationale despre programare, dezvoltarea software si cele mai recente tendinte tehnologice. Voi explora diverse subiecte, de la Python si Linux pana la dezvoltarea web, machine learning si multe altele. Fie ca sunteti incepator sau avansati in programare, veti gasi continut relevant si util aici.</p>
        <br>
        <p>In plus, acest blog ofera o experienta interactiva unica. Va invit sa trimiteti sugestii de subiecte pentru articolele de blog direct catre botul nostru AI. Botul va alege cele mai interesante sugestii si va crea automat articole de blog pe aceste teme. Acesta este un mod inovator de a aduce in prim-plan subiecte care va intereseaza si de a va oferi informatii valoroase.</p>
     <h5 class="mt-5">Experienta mea</h5>
         <p>Sunt programator autodidact cu experienta in Python, Bash, web scraping si web development cu Django. Am cunostinte solide in SEO si administrare WordPress. Pasionat de dezvoltarea web si tehnologiile digitale, orientat spre rezolvarea problemelor si in cautare constanta de noi provocari pentru a contribui la proiecte inovatoare.</p>
    <h5 class="mt-5">Proiecte importante la care contribui</h5>
         <p>Unul dintre proiectele majore pe care imi dedic timpul este Peviitor.ro, un proiect in care contribui activ cu scraperi si idei inovatoare. Aici, folosind abilitatile mele de web scraping, extrag si procesez date relevante pentru a furniza informatii utile si actualizate. De asemenea, aduc idei si solutii creative pentru a imbunatati si extinde functionalitatile platformei. Peviitor.ro reprezinta o oportunitate valoroasa pentru mine de a combina pasiunea mea pentru tehnologie cu contributia la un proiect de amploare care ofera beneficii semnificative comunitatii.</p>
    
    <figure><a href="https://made4dev.com"><img class="img-fluid" src={% static 'human_blog/assets/images/peviitor-project.png' %} alt="image"></a></figure>
  </div>
</article><!--//about-section-->

{% endblock %}

