{% extends 'human_blog/base.html' %}
{% load static %}

{% block title %}
  <title>Pagina de contact</title>
{% endblock %}

{% block content %}
<br>
<div class="container">
<img class="img-fluid" src={% static 'human_blog/assets/images/cowboy-lover.jpg' %} alt="image"></figure>
<br>
<br>
<h1 class="row justify-content-center">Contact</h1>
</div>
<br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="form-class">

                {% csrf_token %}

                <div class="form-group">
                    <label for="nume">Nume si Prenume</label>
                    <input type="text" class="form-control form-control-lg" id="nume" name="nume" placeholder="Numele dvs.">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Adresa de email">
                </div>

                <div class="form-group">
                    <label for="mesaj">Mesajul tau</label>
                    <textarea class="form-control form-control-lg" id="mesaj" name="mesaj" rows="4" placeholder="Spatiu pentru mesajul tau"></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg">Trimite</button>

            </form>
        </div>
    </div>

    <br>

{% endblock %}

