{% extends 'human_blog/base.html' %}
{% load static %}

{% block title %}
  <title>Resume - Andrei C. Cojocaru</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
      <div class="row">
      <div class="col-md-8">
        <br>
        <h3 style="text-align: center;">
              Python Developer && Linux Enthusiast
      </h3>
      <p>
      Acum 4 ani, am inceput sa dezvolt strategii de dezvoltare web, cu un interes special in fascinanta lume a SEO. Cu toate ca WordPress este un CMS perfect atat pentru incepatori, cat si pentru utilizatorii avansati, mi-am propus sa-mi duc abilitatile la urmatorul nivel. Ca rezultat, in prezent imi extind cunostintele de programare cu accent pe Python3 cu OOP si Linux cu Bash. Aceasta calatorie in curs de desfasurare a fost atat de captivanta, cat si de recompensatoare, si sunt nerabdator sa continui sa-mi depasesc limitele si sa explorez noi oportunitati in domeniu.
    </p>
    <br>
    <h3>My Projects</h3>
    <table class="table">
          <thead>
                <tr>
                      <th>
                              #
                      </th>
                      <th>
                              Proiect
                      </th>
                      <th>
                              Difficulty level
                      </th>
                      <th>
                              Status
                      </th>
              </tr>
      </thead>
      <tbody>
              <tr>
                      <td>
                              1
                      </td>
                      <td>
                              <a href="https://github.com/andreireporter13/Django-personal-blog" target="_blank">Django Blog</a>
                      </td>
                      <td>
                              Hard
                      </td>
                      <td>
                              Maintenance
                      </td>
              </tr>
              <tr class="table-active">
                      <td>
                              2
                      </td>
                      <td>
                              <a href="https://github.com/andreireporter13/Django_Affiliate_Marketing_Automation" target="_blank">Django Affiliate Marketing</a>
                      </td>
                      <td>
                              Hard
                      </td>
                      <td>
                              Done
                      </td>
              </tr>
              <tr class="table-success">
                      <td>
                              3
                      </td>
                      <td>
                              <a href="https://github.com/peviitor-ro/Scrapy_peviitor_jobs" target="_blank">Scrapy Peviitor Jobs</a>
                      </td>
                      <td>
                              Medium
                      </td>
                      <td>
                              Daily updated
                      </td>
              </tr>
              <tr class="table-warning">
                      <td>
                              4
                      </td>
                      <td>
                              <a href="https://github.com/andreireporter13/SEO-1st-page-Google-data-scrape" target="_blank">SEO-1st-page-Google-data-scrape</a>
                      </td>
                      <td>
                              Medium
                      </td>
                      <td>
                              Done
                      </td>
              </tr>
              <tr class="table-danger">
                      <td>
                              5
                      </td>
                      <td>
                        <a href="https://github.com/andreireporter13/telegram_bot_check_domains" target="_blank">Stelegram_bot_check_domains</a>
                      </td>
                      <td>
                              Easy
                      </td>
                      <td>
                              Done
                        </td>
                </tr>
              </tbody>
            </table>
      <br>
      <h3> Experience: </h3>
      <hr>
       <div>
        <p>2023 - Prezent</p>
        <p><strong>Oportunitatisicariere.ro | Remote | România</strong></p>
        <p><strong>Python Developer Middle | Mentor</strong></p>
        <p>Ca voluntar la Oportunitatisicariere.ro, fac parte dintr-o echipa care lucreaza la automatizarea motorului de cautare pentru peviitor.ro. Am creat aproximativ 100 de scrapperi si teste pentru acestia. In continuare, lucrez la adaugarea de companii noi cu ajutorul crawlerelor automate care ruleaza in CI/CD, in fiecare zi. Am efectuat teste pentru scrapperi folosind Selenium si Python3. Mai precis, am rulat scrapperul si apoi am utilizat Selenium pentru a verifica validitatea informatiilor extrase.</p>
        </div>
      <hr>
       <div>
        <p>2019 - Prezent</p>
        <p><strong>Sian Image Media - Contanta, Roumania</strong></p>
        <p><strong>Wordpress / SEO (+ Python for automation tasks)</strong></p>
        <p>In calitate de specialist in WordPress, am creat 65 de pagini de aterizare si site-uri de prezentare, pe care ulterior le-am optimizat pentru motoarele de cautare.
        Am lucrat cu constructori precum Elementor, Gutenberg, Brizy, etc. Pentru a personaliza mai mult decat permit constructorii, am lucrat cu HTML si CSS.
        Am lucrat ca tester manual, dar in acelasi timp am remediat erorile pe care le-am descoperit in aceste site-uri: fie ca erau probleme cu formularele, erori de afisare pe paginile desktop sau mobile, sau alte erori legate de modulele WordPress.</p>
        </div>
        <hr>
        <br>
        <h3> Certifications </h3>
        <ul>
            <li><a href="https://www.datacamp.com/statement-of-accomplishment/course/73880b1eff862638cfb4ea4d6368318443417153">OOP in Python3</a></li>
            <li><a href="https://www.datacamp.com/statement-of-accomplishment/course/462aec07eff46b94918daac2f947aa592dd3e486">Web Scraping (Scrapy)</a></li>
            <li><a href="https://stepik.org/cert/1508655">Python3: Advanced</a></li>
        </ul>
        <hr>
        <br>
        <h3>Reference</h3>
        <p>
            <strong>BOGA SEBASTIAN-NICOLAE</strong><br>
            President of ASOCIATIA OPORTUNITATI SI CARIERE<br>
            Head Of Performance Testing Unit with EPAM SYSTEM INTERNATIONAL<br>
            Tel: 0741 025 447<br>
            LinkedIn: <a href="https://www.linkedin.com/in/sebastianboga">https://www.linkedin.com/in/sebastianboga</a>
        </p>
              </div>
          <div class="col-md-4">
              <div>
                <div class="container">
                  <br>
                <img src={% static 'human_blog/assets/images/my-photo.jpg' %}  style="width:100%" alt="Avatar Photo for Resume">
                  <div class="custom-display-bottomleft">
                <h2 class="custom-name">Andrei C. Cojocaru</h2>
              </div>
            </div>
              <br>
                <address class="container">
                  <h3>Education</h3>
                  <strong>Bachelor Degree</strong><br />2015-2018<br />Bachelor's Degree in Journalism<br />University "Alecu Russo" from Balti
          </address>
          <address class="container">
                  <strong>Master Degree</strong><br />019-2021<br />Master's Degree in Journalism<br />University "Ovidius" from Constanta
          </address>
          <hr>
          <br>
          <h3 class="container">Expertise</h3>
          <address class="container">
            <strong>Python3/SQL/C</strong><br >Django/Flask/Fast API<br />Selenium/Scrapy/PlayWright<br />Linux/Bash<br />SEO/Wordpress
          </address>
            <hr>
            <div class="container">
            <h5>Languages</h5>
            <div class="progress" style="background-color: #4CAF50; width: 100%;"><strong>Română 100%</strong></div>
            <br>
            <div class="progress" style="background-color: #2196F3; width: 60%;"><strong>Engleză (60-70%)</strong></div>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
