{% extends 'human_blog/base.html' %}
{% load static %}

{% block title %}
  <title>Pagina de contact</title>
{% endblock %}

{% block content %}
<br>
<div class="container">
<img class="img-fluid" src={% static 'human_blog/assets/images/cowboy-lover.jpg' %} alt="image"></figure>
<br>
<br>
<h1 class="row justify-content-center">Contact</h1>
</div>
<br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="row justify-content-center">Mesajul dvs a fost trimis!</h2>
        </div>
    </div>

    <br>

{%endblock%}
